@font-face {
  font-family: 'Rocket Raccoon';
  src: url('/fonts/Rocket-Raccoon-Free.otf') format('opentype'),
    url('/fonts/Rocket-Raccoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.font-logo {
  font-family: 'Rocket Raccoon', sans-serif;
}